body{
    padding: 0;
    margin: 0;
    
}

#navegacao{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    width: 100%; 
    padding: 20px;
    
}

#navegacao ol{
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    align-items: center;
}

#navegacao li{
    display: inline-block;
    padding: 50px;
    font-size: 20px;
}

#navegacao a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin-top: 80px;
    
}
