body {
    background-image: url('nss.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    gap: 10px;
    border: 4px solid red;
    padding: 15px;
    margin-left: 700px;
    margin-right: 700px;
    background-color: oklch(70.4% 0.191 22.216);
    opacity: 90%;
}

.user, .pass {
    border-radius: 30px;
    background-color: red;
    height: 50px;
    width: 250px;
    border-color: red;
    color: white;
    padding: 10px;
}
.box{
    margin-right: 230px;
    margin-top: 20px;
}

.relembrar{
    margin-top: -30px;
    margin-right: 87px;
}

.botao {
    background-color: red;
    border-radius: 30px;
    border-color: red;
    color: white;
    height: 67px;
    width: 300px;
}

.passforget{
    margin-right: 180px;
}

.login {
    margin-left: 180px;
    margin-top: -45px;
}