/* stylelogin.css */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)),
              url('nss.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main box */
.login-box {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #e00000;
  border-radius: 12px;
  padding: 40px 35px;
  text-align: center;
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 420px;
  color: white;
  box-shadow: 0 0 20px rgba(224, 0, 0, 0.6);
}

/* Logo and text */
.logo {
  width: 90px;
  margin-bottom: 15px;
}

h1 {
  font-size: 28px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: #fff;
}

.subtitle {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 25px;
}

/* Inputs */
.input-field {
  width: 100%;
  padding: 13px 15px;
  margin: 10px 0;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: white;
  color: #d00000;
  transition: 0.3s;
}

.input-field:focus {
  box-shadow: 0 0 8px #e00000;
}

/* Remember + forgot */
.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.remember a {
  color: #ffdddd;
  text-decoration: none;
  transition: 0.2s;
}

.remember a:hover {
  color: white;
}

/* Button */
.btn-login {
  width: 100%;
  background-color: #e00000;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(224, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #a00000;
  transform: scale(1.05);
}

/* Create account */
.create {
  margin-top: 20px;
  font-size: 14px;
  color: #ffcccc;
}

.create a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.create a:hover {
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 480px) {
  .login-box {
    padding: 25px;
  }
  .btn-login {
    font-size: 16px;
  }
}
